* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    background: #111111;
}

.wrapper, body {
    overflow-x: hidden;
}

@font-face {
    font-family: "franklingothic";
    src: url(../fonts/FranklinGothicBookRegular.ttf) format('truetype');
    src: url(../fonts/FranklinGothicBookRegular.eot) format('embedded opentype');
    src: url(../fonts/FranklinGothicBookRegular.woff) format('woff');
    src: url(../fonts/FranklinGothicBookRegular.woff2) format('woff2');
}

button:focus {
    outline: 0;
}

p, h1, h2, h3, h4, li, label, legend, input, select, textarea {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

p, h1, h2, h3, h4, li {
    line-height: 2.5vh;
    padding-bottom: 1vh;
}

label, legend {
    line-height: 1.25vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    padding-top: 2vh;
}

h1 {
    font-size: 4.5vh;
}

h2 {
    font-size: 3vh;
}

h3 {
    font-size: 2.5vh;
}

p, li {
    padding-top: 1vh;
}

p, li, .button, select, label, input, .hamburger-button-style {
    font-size: 1.85vh;
}

a, .link {
    text-decoration: none;
    color: black;
}

a:hover,  .link:hover {
    color: #333333;
    cursor: pointer;
}

li {
    list-style-type: none;
}

fieldset {
    border: none;
}

nav {
    width: 100vw;
}

input {
    height: 6vh;
    margin-bottom: 2vh;
    background-color: #333333;
    text-align: center;
}

textarea {
    width: 75vw;
    height: 50vh;
    background-color: #333333;
}

.nav-layer {
    display: flex;
    justify-content: center;
}

header {
    height: 18vh;
    background-color: #1F1F1F;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 2vh;
}

footer {
    background-color: #1F1F1F;
    width: 100%;
}

.footer-heading {
    color: white;
    font-size: 1.85vh;
}

.footer-item {
    color: white;
    font-size: 1.25vh;
    padding-top: 0.25vh;
    padding-bottom: 0.25vh;
}

.footer-item:hover {
    color: #888888;
    cursor: pointer;
    transition: 0.2s all;
}

.copyright-info {
    text-align: center;
    padding-bottom: 2.5%;
}

.button, select {
    color: white;
    outline: none;
    background-color: #1F1F1F;
    padding: 2vh;
}

.button:hover, #select:hover {
    background-color: #333333;
}

.hamburger-button-style {
    background-color: transparent;
    outline: none;
    color: white;
    border: none;
    padding-left: 2vh;
}

.mobile-buttons {
    display: none;
    color: white;
    float: right;
    margin-right: 5vw;
    top: 0;
    margin-top: 4vh;
}

.mobile-buttons a, .mobile-buttons a:visited {
    color: white;
}

.menu-dots {
    background-color: white;
    width: 1.25vh;
    height: 1.25vh;
    border-radius: 50px;
    display: inline-block;
    padding-left: 0.5vw;
}

.nav-button {
    font-family: franklingothic, Arial, Helvetica, sans-serif;
    color: #333333;
    font-size: 3vh;
    padding-left: 2vw;
    padding-top: 2vh;
}

    .nav-button:hover {
        cursor: pointer;
        color: black;
        transition: 0.2s all;
    }

.second-level {
    font-size: 2.25vh;
}

.img-15vw {
    width: 15vw;
}

.img-25 {
    width: 25%;
}

.img-half {
    width: 50%;
}

.img-75 {
    width: 75%;
}

.img-full {
    padding-top: 2vh;
    width: 100%;
}

.padding-left {
    padding-left: 4vw;
}

.padding-top {
    padding-top: 4vh;
}

.margin-top {
    margin-top: 4vh;
}

.container {
    width: 50vw;
    margin: 0 auto;
    padding: 2vh;
}

.centre {
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding-right: 2vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.hidden {
    display: none;
}

.visible {
    display: block !important;
}

.sticky-nav {
    top: 0;
    z-index: 3;
    position: fixed;
    width: 100vw;
    background-color: #222222;
    padding-bottom: 1vh;
    animation: fadeInDown 0.25s forwards;
}

.white-text {
    color: white !important;
}

.spacer {
    height: 5vh;
}

.relative {
    position: relative;
}

.hero-titles {
    position: absolute;
    z-index: 2;
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.75;
    z-index: 1;
}

.added-to-cart {
    background-color: #1F1F1F;
    color: white;
    animation: fadeIn 0.75s linear;
    padding: 2vh;
}

.offscreen {
    margin-left: -500%;
    height: 0;
    width: 0%;
    z-index: 50;
}

.price {
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 2.8vh;
}

#estimated-delivery-date {
    animation: fadeIn 0.75s forwards;
}

#select-size-label {
    padding-top: 0.85vh;
}

#errors-found {
    margin-top: 5vh;
}

.field-error {
    background-color: #8d0101 !important;
    color: white !important;
    transition: 0.2s all;
}

.item-required {
    color: #8d0101;
    font-weight: bold;
    font-size: 1.5vh !important;
    padding-top: unset !important;
}

#sourceImage {
    width: 100% !important;
}

/*Search*/
#search-field, #search-button {
    background-color: transparent;
    margin-left: 2vw;
    outline: none;
    border: none;
    font-size: 2vh !important;
    padding-top: 1vh;
    color: #333333;
}

#search-layer {
    animation: fadeInDown 0.75s forwards;
}

@media only screen and (max-width: 768px) {
    h1, h2, h3 {
        line-height: 5vh !important;
    }
    header {
        height: unset;
        display: block;
        justify-content: unset;
        position: fixed;
        height: 10vh;
    }
    #logo {
        height: 8vh;
        margin-left: -35vw;
    }
    nav {
        top: 0;
        display: none;
        background-color: #e8e8e8;
        z-index: 10;
        position: fixed;
        transition: 0.2s ease-in-out;
        margin-top: 9vh;
        border-color: black;
        animation: slideInDown 1s forwards;
    }
    .nav-layer {
        display: block;
        justify-content: unset;
    }
    .mobile-buttons {
        display: block;
    }
    .button, select {
        width: 100%;
    }
    .container, .column {
        width: 100%;
    }
    .padding-top {
        padding-top: unset !important;
    }
    .column {
        flex: unset;
    }
    #col2, #col3, #col4, #col5, #col6 {
        display: none;
    }
    #col7 {
        padding-left: 8vw;
    }
    #top-of-page {
        padding-top: 14vh;
    }
    .spacer {
        height: 0vh;
    }
    #search-field {
        padding-left: 4vw;
        width: 77.5vw;
        font-size: 2.5vh !important;
    }
}